.titulo{
    margin: 20px;
    padding: 5px;
    margin-bottom: 0px;
}
button{
    margin: 10px 20px 0px 0px;
}

/* .data-conteiner{
    display: inline-block;
} */
.data-cont{
    border-bottom: solid rgb(129 31 52);
}