form{
    margin: 10px 20px 0px 50px;
    align-content: center;

}
.form-label{
    text-align: center;
    font-size: 30px;
}
body{
    background-color: aliceblue;
    border: solid 1px #000;
    border-radius: 10px;

}
/* .text-center{
    background-color: rgb(226, 43, 89);
    margin: 40px 300px 20px ;
    border-radius: 20px;
} */
/* .tit{

    margin: 0px 340px 20px ;
    border-radius: 20px;
    border-bottom: rgb(68, 49, 42);
    border-bottom-style: double;
} */
p{
    text-align: center;
}