<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
<div class="tit">
  <h1>Ingreso a Portfolio</h1>
</div>

<!-- <button type="button"  class="btn btn-danger "routerLink ="/iniciar-sesion">Acceder</button> -->
<div class="text-center">
  <h1>Visitante</h1>
  <a class="btn btn-dark" href="portfolio" role="button">Acceder</a>
</div>
<br>
<!-- <a class="btn btn-dark" href="portfolio" role="button">Link</a>
<a href="portfolio">Solo lectura</a> -->
  <form class= "m-5"  >
    <h1>Administrador</h1>
    <p>(Contraseña requerida)</p>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input #usuario type="text" class="form-control" id="usuario">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input #contrasenia  type="text" class="form-control" id="contrasenia">
    </div>
    <!-- <button type="submit" class="btn btn-primary" onclick="getInputValue(usuario.value, contrasenia.value)">Entrar</button> -->
    <!-- <button  type="button"  class="btn btn-primary"
       (click)="getInputValue(usuario.value, contrasenia.value)"  >  Entrar  </button> -->


       <!-- Servicio Implementado -->
       <button  type="button"  class="btn btn-primary"
       (click)="login(usuario.value, contrasenia.value)"  >  Aceptar  </button>

      </form>
</body>
</html>
