<div class="conteiner" *ngIf="persona">
    <form #f="ngForm"  (ngSubmit)="onUpdate()"> 
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" 
            [(ngModel)]="persona.nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" 
            [(ngModel)]="persona.apellido" required>
        </div>
        <div class="form-group">
            <label for="cargo">cargo</label>
            <input type="text" class="form-control" id="cargo" name="cargo" 
            [(ngModel)]="persona.cargo" required>
        </div>
        <!-- <div class="form-group">
            <label for="ruta">RutaIm</label>
            <input type="text" class="form-control" id="ruta" name="ruta" 
            [(ngModel)]="persona.foto" required>
        </div> -->

        <div class="form-group">
            <label for="descrip">Logo</label>
            <input type="file" class="form-control" id="logo" name="logo" [(ngModel)]="persona.foto" (change)="uploadImagen($event)"
            accept=".jpg, .png, .jpeg">
        </div>

            <div>
                <button type="submit" class="btn btn-primary"> 
                    Editar </button>
            </div>

    </form>
</div>
