<!-- <p>encabezado works!</p> -->
<a name="inicio1"></a>
<section class="inicio">
    <div class="portada">
        <div class="foto_portada">
            <div class="foto">         </div>
        </div>
        <div class="perfil">           
            <div class="foto_perfil">
                <img class="foto1"[src]="persona.foto" width="300" height="300" />
            </div>
        </div>
        <div class="caja_redes">
            
            <div class="redes">
                <!-- <div class="boton">
                    <span><button type="button" id="btn-r"><i class="fa fa-edit" style="font-size:48px;color:red"></i>edit</button></span>
                </div> -->
                <!-- <i class="fa fa-pen" style="font-size:24px;color:rgb(236, 236, 236)"></i> -->

                <div class="texto1">
                    <h2>{{persona.nombre}} {{persona.apellido}} </h2> 
                    <h3>{{persona.cargo}}</h3>
                </div>
                <div class="btn-edit">
                    <a class="btn btn-right" href="editarper/{{persona.id}}"><i class="fa fa-pen" style="font-size:24px;color:rgb(236, 236, 236)"*ngIf="isLogged"></i></a>
                </div>
                <div class="red">
                    <a href="https://www.facebook.com/rociomarianoeliao"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/noelia_oleab/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="noeliaolea1998@gmail.com"><i class="fa fa-envelope"></i></a>
                    <a href="noeliaolea1998@gmail.com"><i class="fa-brands fa-discord"></i></a>
                </div>          
            </div>
        </div>
    </div>
</section>
