<div class="contenedor">
    <section class="descrip">
        <div class="titulo">
            
            <!-- <div class="btn-edit">
                <a class="btn btn-right" href="#"><i class="fa fa-pen"></i></a>
            </div> -->
            <!-- <div class="boton">
                <span><button type="button" id="btn-r"><i class="fa fa-pen"></i></button></span>
            </div> -->
            <h1>AcercaMi</h1>
            <!-- <i class="fa fa-pen"></i> no tiene funcionalidad -->
            <div class="btn-edit">
                <a class="btn btn-right" href="editardescrip/{{persona.id}}"><i class="fa fa-pen" *ngIf="isLogged"></i></a>
            </div>
        </div>
        <div class>
            <p id="text-AcercaMi">{{persona.descrip}}</p>
        </div>
        <!-- <div>
            <input id="editAcercaMi" type="text" oninput="ingreso(this.value)" style="display:none">
        </div>
         -->
    </section>
</div>