<header>
    <div class="icon">
        <div class="logotipo">
            <div><a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/images/logoAP5.png" /></a></div>
        </div> 
        <button type="button" class="btn btn-danger " routerLink ="/iniciar-sesion" *ngIf="!isLogged">Login </button>
        <!-- <button type="button" class="btn btn-danger " routerLink ="/login" >Test </button> -->
        <button type="button" class="btn btn-danger " (click)=salir() *ngIf="isLogged">Salir </button>
        <!-- <button class="boton tres" href="https://www.google.com.ar"><span>Login</span></button> -->
    </div>
    
    <input type="checkbox" id="bt-menu">
    <label for="bt-menu"><img src="../../../assets/images/menu.png" width="30px" height="30px"></label>
    
    <nav class="menu">
        <ul>
            <li><a href="#Encabezado">Inicio</a></li>
            <li><a href="#Experiencia">Experiencia</a></li>
            <li><a href="#Educacion">Educacion</a></li>
            <li><a href="#HysS">Skills</a></li>
            <li><a href="#Proyectos">Proyectos</a></li>
        </ul>
    </nav>
</header>


