<div class="conteiner">
    <div class="row">
        <div>
            <form #f="ngForm" (ngSubmit)="login(f)"> 
<div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" ></div>
<div class="form-group">
    <label for="contrasenia">Contraseña</label>
    <input type="text" class="form-control" id="contrasenia" name="contrasenia" ></div>

<br>
<div>
    <!-- class="text-center" -->
    <button type ="submit" class="btn btn-primary"> Agregar </button>
</div>
            </form>
<!-- <div class="text-center"><button class="btn btn-danger" routerLink=" "> Cancelar</button> </div> -->
        </div>
    </div>
</div>
