<a name="hysS"></a>
<div class="titulo">
  <div id="tit2"><h1>Hard && Soft Skills</h1></div>

</div>
<div class="text-center">
  <button type="button" class="btn btn-dark " routerLink ="/nuevaskill"*ngIf="isLogged">Agregar </button>
</div>
<div class="may">
<ng-container *ngFor="let skill of skill">

    <circle-progress
  [percent]="(skill.porcentaje)"
  [radius]="100"
  [title]="(skill.titulo)"
  [titleColor]="(skill.color)"
[titleFontSize]="(skill.fontsize)"
[showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="(skill.outSC)"
  [innerStrokeColor]="(skill.innSC)"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>

    <a class="btn btn-right" href="editarskill/{{skill.id}}"><i class="fa fa-pen"style="font-size:20px"*ngIf="isLogged"></i></a>
    <a class="btn btn-right" href="#"(click)="borrar(skill.id)"><i class="fa fa-trash"style="font-size:20px"*ngIf="isLogged"></i></a>


</ng-container>
</div>